body{
    margin: 0;
    padding: 0;
    background-color: rgb(216, 215, 215);
}
.bg{
    width: 100%;
    height: 366px;
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
.bg_txt{
    color: white;
    width: 326px;
    font-size: 85px;
    margin-left: 105px;
}
@media screen and (max-width: 445px) {
    .bg{ display: flex; }
    .bg_txt {
        font-size: 65px;
        margin: auto;
        text-align: center;
    }   
}
.corpo {
    width: 100%;
    margin-top: 20px;
    display: flex;
}
.corpo_img{
    margin: auto;
    width: 174px;
    height: 174px;
    border-radius: 144px;
    border: 6px solid rgb(158, 156, 156);

}