body{
    margin: 0;
    padding: 0;
    background-color: rgb(216, 215, 215);
}
.bg{
    width: 100%;
    height: 366px;
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}
.bg_txt{
    color: white;
    width: 326px;
    font-size: 85px;
    margin-left: 105px;
}
.bg_txt_02{
    color: #3FF80C;
    font-size: 55px;
    margin-left: 105px;
    margin-top: -65px;
}
@media screen and (max-width: 980px){
    .bg_txt_02 { font-size: 35px; }
}
@media screen and (max-width: 445px) {
    .bg { 
        width: auto;
        padding: 50px 0;
    }
    .bg_txt {
        font-size: 65px;
        margin: 0;
        margin-bottom: 59px;
        text-align: center;
    }   
    .bg_txt_02 { 
        margin: 0;
        text-align: center;
        width: 100%; 
        font-size: 29px;
    }
}
.corpo {
    width: 100%;
    margin-top: 20px;
    display: flex;
}
.pointer {
    margin: 0 auto;
}
.corpo_img{
    cursor: pointer;
    width: 174px;
    height: 174px;
    border-radius: 144px;
    border: 6px solid #3FF80C;

}